@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: black;
    overflow: hidden;
    display: flex;
    height: 4em;
    position: fixed;
    width: 100%; /* Use the entire width */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 140px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #615858;
    color: rgb(239, 223, 223);
    padding: 140px 15px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.main-division{
    width: 97vw;
    margin-top: 2.5em;
    margin-top: 9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    animation: zoomIn 1s ease;
}

.photo{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.content{
height: 400px;
width: 600px;
justify-content: center;
display: flex;
align-items: center;
}

img{
    height: 150px;
    border-radius: 25px;
}

p{
    text-align: justify;
    line-height: 1.5;
    font-size:larger;
    font-weight: bolder;
}

.social-icons {
    display: flex;
    gap:20px; 
  }
  
  .icon img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .icon:hover img {
    transform: scale(1.5); /* Optional: Zoom in on hover */
  }

footer{
      display: flex;
      align-items: center;
      justify-content: center;
}