body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #363333;
    overflow: hidden;
    display: flex;
    height: 4em;
    position: fixed;
    width: 100%; /* Use the entire width */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav a {
    display: block;
    color: rgb(238, 222, 222);
    text-align: center;
    padding: 140px 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #615858;
    color: rgb(239, 223, 223);
    padding: 140px 15px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.main-division{
    background-color: aqua;
    height: 95vh;
    width: 97vw;
    margin-top: 2.5em;
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.photo{
    height: 200px;
    width: 200px;
    background-color: blue;
}

.content{
height: 400px;
width: 600px;
background-color:bisque;
}